@model RequestDashboardVM

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row">
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <span class="info-box-icon bg-info"><i class="fas fa-tachometer-alt"></i></span>
                <h1 class="card-title">@Model.TotalRequests</h1>
                <p class="card-text">@Html.DisplayNameFor(model => model.TotalRequests)</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <span class="info-box-icon bg-info"><i class="fas fa-tachometer-alt"></i></span>
                <h1 class="card-title  text-success">@Model.ApprovedRequests</h1>
                <p class="card-text">@Html.DisplayNameFor(model => model.ApprovedRequests)</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <span class="info-box-icon bg-info"><i class="fas fa-tachometer-alt"></i></span>
                <h1 class="card-title text-warning">@Model.PendingRequests</h1>
                <p class="card-text">@Html.DisplayNameFor(model => model.PendingRequests)</p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body text-center">
                <span class="info-box-icon bg-info"><i class="fas fa-tachometer-alt"></i></span>
                <h1 class="card-title  text-danger">@Model.RejectedRequests</h1>
                <p class="card-text">@Html.DisplayNameFor(model => model.RejectedRequests)</p>
            </div>
        </div>
    </div>
</div>

<br />
<br />

<hr />
<h1>Request Log</h1>
<hr />
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Request Type
            </th>
            <th>
                Date Requested
            </th>

            <th>
                Approval Status
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.AppRequests)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RequestingEmployee.Firstname) @Html.DisplayFor(modelItem => item.RequestingEmployee.Lastname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateActioned)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestType.RequestName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateRequested)
            </td>
            <td>
                @if (item.Cancelled)
                {
                    <span class="badge badge-secondary">Cancelled</span>
                }
                else if (item.Approved == true)
                {
                    <span class="badge badge-success">Approved</span>
                }
                else if (item.Approved == false)
                {
                    <span class="badge badge-danger">Rejected</span>
                }
                else
                {
                    <span class="badge badge-warning">Pending Approval</span>
                }
            </td>
            <td>
                @if (!item.Cancelled)
                {
                    <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">
                        <i class="fa fa-file"></i>Review
                    </a>
                }


            </td>
        </tr>
        }
    </tbody>
</table>